[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
flask-jwt-extended = "==4.4.4"
sqlalchemy = "==2.0.21"
psycopg2-binary = "==2.9.8"
redis = "==4.6.0"
flask-migrate = "==4.0.4"

[dev-packages]

[requires]
python_version = "3.10"
